body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {

    list-style: none;
    margin: 0;
    padding: 0;
    display: flex
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.top-section {
    display: flex;
    flex-direction: column;
    background-color: #1f2937
}

.main-title {
    display: flex;
}

a, .subtext, .placeholder-img {
    font-size: 18px;
    color: #e5e7eb
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.main-text {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8

}