body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif;
}

ul {

    list-style: none;
    margin: 0;
    padding: 0;
    display: flex
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.top-section {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    gap: 48px;
    padding: 16px 98px 48px 98px;
}

.main-title {
    display: flex;
    gap: 32px;
}

a, .sub-text, .placeholder-img {
    font-size: 18px;
    color: #e5e7eb
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.main-text {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8
}

.placeholder-img {
    background-color: rgba(255, 255, 255, 0.26);
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.title {
    flex: 1;
}